.container_showTicket {
    width: 80%;
    height: 70%;
    padding: 20px;
    border-radius: 20px;
    background-color: #696969;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.281);
    border: 6px solid rgba(0, 0, 0, 0.05);
    background: linear-gradient(45deg, #F0FBFF 0%, #FAF0FF 100%);
}

.content_in_ticket {
    margin: 3px;
    height: 20% !important;
}

.content_in_ticket span {
    font-size: 30px;
    font-weight: bold;
}

.content_in_ticket p {
    font-size: 30px;
}

.content_in_ticket text {
    font-size: 20px;

}

.container_showTicket .tagStatus {
    font-size: 20px;
    background-color: #000000;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}