@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');

:root {
  font-family: 'Noto Sans Thai', sans-serif !important;
  background: linear-gradient(49deg, #232C65 0%, #E21F76 100%);
  padding-top: 5rem;
}

body {
  margin: 0;
  place-items: center;
}

button {
  font-family: 'Noto Sans Thai', sans-serif !important;
  border: 0;
  cursor: pointer;
  transition: border-color 0.25s;
}
