@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');

:root {
  font-family: 'Noto Sans Thai', sans-serif !important;
  background: linear-gradient(49deg, #232C65 0%, #E21F76 100%);
  padding-top: 5rem;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

button {
  font-family: 'Noto Sans Thai', sans-serif !important;
  border: 0;
  cursor: pointer;
  transition: border-color 0.25s;
}



/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */